

/* font-family: 'Lobster', cursive;
font-family: 'PT Sans Narrow', sans-serif; */


.wrap {
    box-sizing: border-box;
    padding: 0;
    width      : 1280px;
    height     : 100%;
    margin     : 0 auto;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 80px;
    color: #440b79;
    background-color: khaki;
    text-align: center;
    margin: 0;

}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
   align-items: center;
   background-color: khaki;
}

.mail__account{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 50px;
    color: maroon;
}

.foto__account {
background: url(Duben.jpg) no-repeat center center;
width: 300px;
height: 300px;
}

.telegram__account {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 50px;
    color: maroon;
}

main {
    background-color: khaki;
}

H2 {
    font-family: 'Lobster', cursive;
    font-size: 50px;
    color: #6818b3;
    margin: 0;
    padding-top: 50px;
    text-align: center;
}

p {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 25px;
}

ul {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 40px;
    color: rgb(12, 44, 134);
}

ul li {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 30px;
    color: rgb(135, 14, 151);
}
